
<h1>Template Form</h1>
<div>
    <hr>
    <form #userForm1 = "ngForm" (ngSubmit) = "onSubmit(userForm1.value)">
       <b>UserName :</b> 
        <input type = "text" placeholder = "Enter your name" name = "UserName" ngModel />
        <br>
        <b>Password :</b>  

        <input type ="password" placeholder="Enter your password" name = "password" ngModel />
<br>
        simple<input type ="radio" name = "simple" value ="show" ngModel />
<br>
        <button type = "submit" value ="submit">Submit</button>
    </form>

</div>