<div>
  <my-com></my-com>
  <my-com-new></my-com-new>
  <my-data></my-data>
  <if-example></if-example>
  <cust-ex></cust-ex>
  <my-prod></my-prod>
  <my-prod-list></my-prod-list>
  <app-pipe-example></app-pipe-example>
  <app-form-example></app-form-example>
  <app-reactive-form></app-reactive-form>
  <app-case-study-form></app-case-study-form>
  <app-case-stude-form2></app-case-stude-form2>
  <app-dependency-injection></app-dependency-injection>
  <app-api-service-injection></app-api-service-injection>

  
<router-outlet></router-outlet>
